<form #registerForm="ngForm"
      (submit)="register()">
    <vsf-centered-card>
            <input class="form-control"
                   placeholder="Nombre"
                   name="firstName"
                   required
                   [disabled]="registrationSent"
                   [(ngModel)]="firstName">
            <input class="form-control mt-1"
                   placeholder="Apellidos"
                   name="lastName"
                   required
                   [disabled]="registrationSent"
                   [(ngModel)]="lastName">
            <input class="form-control mt-1"
                   placeholder="Correo Electronico"
                   name="emailAddress"
                   required
                   type="email"
                   email
                   [disabled]="registrationSent"
                   [(ngModel)]="emailAddress">

        <button class="btn btn-primary btn-block mt-3"
                [disabled]="registerForm.invalid || registrationSent"
                type="submit">
            Registrarse
        </button>
        <div *ngIf="registrationSent" class="registration-sent">
            Genial! Ahora puedes comprobar tu correo electronico ({{ emailAddress }}) para completar el registro.
        </div>
    </vsf-centered-card>
</form>
