<form #resetForm="ngForm"
      (submit)="resetPassword()">
    <vsf-centered-card>
        <ng-container *ngIf="!submitted">
            <input class="form-control"
                   placeholder="Correo Electronico"
                   name="emailAddress"
                   type="email"
                   email
                   required
                   [(ngModel)]="emailAddress">

            <button class="btn btn-primary btn-block mt-3"
                    [disabled]="resetForm.invalid || submitted"
                    type="submit">
                Resetear Contraseña
            </button>
        </ng-container>
        <div class="alert alert-success" role="alert" *ngIf="submitted">
            Se ha enviado un email a <strong>{{ emailAddress }}</strong>. Comprueba la bandeja de entrada y sigue las instrucciones para recuperar tu contraseña.
        </div>
    </vsf-centered-card>
</form>
